/* helpers */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800");
html body div#about-site,
html body div#footer-menu,
html body div#footer,
html body div#keyboard,
html body div#toast-prompt {
  display: none !important;
}
html body div#header div#header-inner a#logo-txt::before {
  display: none !important;
}
html body div#header div#header-inner div#hh-header,
html body div#header div#header-inner div#hh-wrap-header,
html body div#header div#header-inner div#stack-menu,
html body div#header div#header-inner div#tv-controls,
html body div#header div#header-inner div#zeitgeist-header-menu {
  display: none !important;
}
html body div#header div#header-inner form#search-form a#shuf,
html body div#header div#header-inner form#search-form input[type="submit"] {
  display: none !important;
}
html body div#header div#header-inner ul.menu li#menu-item-directory,
html body div#header div#header-inner ul.menu li#menu-item-hh,
html body div#header div#header-inner ul.menu li#menu-item-more,
html body div#header div#header-inner ul.menu li#menu-item-premiere,
html body div#header div#header-inner ul.menu li#menu-item-search {
  display: none !important;
}
html body div#player-container div#player-inner div#filter,
html body div#player-container div#player-inner div#player-page {
  display: none !important;
}
html body div#player-container div#player-inner div#player-controls a#playerFav::before,
html body div#player-container div#player-inner div#player-controls a#playerNext::before,
html body div#player-container div#player-inner div#player-controls a#playerPlay::before,
html body div#player-container div#player-inner div#player-controls a#playerPrev::before {
  display: none !important;
}
html body div#player-container div#player-inner div#player-controls div#player-nowplaying a.store.read-post,
html body div#player-container div#player-inner div#player-controls div#player-nowplaying div.share-icons {
  display: none !important;
}
html body div#player-container div#player-inner div#player-controls div#player-timebar div#player-volume-mute::before,
html body div#player-container div#player-inner div#player-controls div#player-timebar div#player-volume-mute span {
  display: none !important;
}
html body div#content-wrapper a#phonograph,
html body div#content-wrapper div.tsad-skin {
  display: none !important;
}
html body div#content-wrapper div#container div#ad-breakout {
  display: none !important;
}
html body div#content-wrapper div#container div#content div#content-left div#message,
html body div#content-wrapper div#container div#content div#content-left div#tags,
html body div#content-wrapper div#container div#content div#content-left hr.space {
  display: none !important;
}
html body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-moreinpost {
  display: none !important;
}
html body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.track-info {
  display: none !important;
}
html body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player div.act_info,
html body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player div.meta,
html body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player div.sparkdiv,
html body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player p.post_info,
html body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player span.share-links {
  display: none !important;
}
html body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player h3.track_name a.track span.remix-count {
  display: none !important;
}
html body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.playlist-ctrls {
  display: none !important;
}
html body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li a::before {
  display: none !important;
}
html body div#content-wrapper div#container div#content div#content-right {
  display: none !important;
}
html body div#content-wrapper div#container div#content div#time-machine {
  display: none !important;
}
/* build */
body {
  background-color: #333631 !important;
  color: #333631 !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif !important;
  font-size: 400 !important;
  vertical-align: middle !important;
/* header */
/* player */
/* content */
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body a,
body em,
body p,
body strong {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif !important;
}
body div#header {
  position: relative;
  height: auto;
  width: auto;
  background-color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  line-height: normal;
  text-align: left;
  vertical-align: middle;
}
body div#header div#header-inner {
  position: relative;
  height: 64px;
  margin: 0 auto;
  width: 700px;
/* logo */
/* navigation */
/* search field */
}
body div#header div#header-inner a#logo-txt {
  float: none;
  left: 10px;
  position: absolute;
  top: 0;
  z-index: 5;
  height: 64px;
  padding: 0;
  width: 97px;
  background-position: 20px 23px;
  background-repeat: no-repeat;
  color: #111;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/logo.png");
  font-size: inherit;
  line-height: normal;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#header div#header-inner a#logo-txt {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/logo@2x.png");
    -webkit-background-size: 57px 18px;
    -moz-background-size: 57px 18px;
    background-size: 57px 18px;
  }
}
body div#header div#header-inner a#logo-txt:hover {
  background-color: #83c441;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/logo-hover.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#header div#header-inner a#logo-txt:hover {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/logo-hover@2x.png");
    -webkit-background-size: 57px 18px;
    -moz-background-size: 57px 18px;
    background-size: 57px 18px;
  }
}
body div#header div#header-inner a#logo-txt:hover::after {
  display: none;
}
body div#header div#header-inner a#logo-txt::after {
  position: absolute;
  right: 0;
  top: 15px;
  display: block;
  height: 34px;
  width: 1px;
  background-color: #e5e8e1;
  content: '';
}
body div#header div#header-inner ul.menu {
  left: 106px;
  position: absolute;
  top: 0;
  z-index: 10;
  display: block;
  height: 64px;
  font-size: inherit;
  vertical-align: middle;
}
body div#header div#header-inner ul.menu li {
  float: left;
  display: block;
  margin-left: -1px;
  vertical-align: middle;
}
body div#header div#header-inner ul.menu li > a {
  display: block;
  padding: 0 15px;
  background-color: transparent;
  border: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  color: #111;
  font-size: 15px;
  font-weight: 600;
  line-height: 64px;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  vertical-align: middle;
}
body div#header div#header-inner ul.menu li > a:hover {
  background-color: transparent;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body div#header div#header-inner ul.menu li:hover {
  background-color: transparent;
}
body div#header div#header-inner ul.menu li:hover ul {
  display: block;
}
body div#header div#header-inner ul.menu li:first-child {
  margin-left: 0;
}
body div#header div#header-inner ul.menu li.active {
  background-color: transparent;
}
body div#header div#header-inner ul.menu li.active > a {
  height: 65px;
  margin-bottom: -1px;
  background-color: #333631;
  border-left-color: #222422;
  border-right-color: #222422;
  color: #fff;
  font-weight: 600;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  text-decoration: none;
}
body div#header div#header-inner ul.menu li.active > a:hover {
  background-color: #333631;
}
body div#header div#header-inner ul.menu li ul {
  left: 15px;
  position: absolute;
  top: 54px;
  padding: 10px 0;
  width: 180px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px rgba(171,179,161,0.4), 0 3px 9px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 1px rgba(171,179,161,0.4), 0 3px 9px rgba(0,0,0,0.1);
}
body div#header div#header-inner ul.menu li ul::before {
  left: 15px;
  position: absolute;
  top: -10px;
  display: block;
  height: 0;
  width: 0;
  border-bottom: 10px solid rgba(171,179,161,0.4);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
}
body div#header div#header-inner ul.menu li ul::after {
  left: 15px;
  position: absolute;
  top: -9px;
  display: block;
  height: 0;
  width: 0;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
}
body div#header div#header-inner ul.menu li ul li {
  float: none;
  font-size: inherit;
  line-height: normal;
}
body div#header div#header-inner ul.menu li ul li > a {
  display: block;
  height: 30px;
  padding: 0 15px;
  width: auto;
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}
body div#header div#header-inner ul.menu li ul li > a:hover {
  background-color: #83c441;
  color: #fff;
  text-decoration: none;
}
body div#header div#header-inner form#search-form {
  position: absolute;
  right: 30px;
  top: 17px;
  display: block;
  height: auto;
  width: auto;
  vertical-align: middle;
}
body div#header div#header-inner form#search-form input#q {
  float: none;
  position: relative;
  z-index: 5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
  margin: 0;
  padding: 0 30px 0 15px;
  width: 158px;
  background-color: #fff;
  background-position: 132px 6px;
  background-repeat: no-repeat;
  border: 1px solid #d8dbd3;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: FontColorLight;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/search-icon.png");
  line-height: 28px;
  outline: 0;
/* Chrome + Safari */
/* Firefox 18- */
/* Firefox 19+ */
/* Internet Explorer */
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#header div#header-inner form#search-form input#q {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/search-icon@2x.png");
    -webkit-background-size: 14px 14px;
    -moz-background-size: 14px 14px;
    background-size: 14px 14px;
  }
}
body div#header div#header-inner form#search-form input#q::-webkit-input-placeholder {
  color: FontColorLight;
}
body div#header div#header-inner form#search-form input#q:-moz-placeholder {
  color: FontColorLight;
}
body div#header div#header-inner form#search-form input#q::-moz-placeholder {
  color: FontColorLight;
}
body div#header div#header-inner form#search-form input#q:-ms-input-placeholder {
  color: FontColorLight;
}
body div#header div#header-inner form#search-form input#q:focus {
  border-color: #aeb3a6;
  color: FontColor;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/search-icon-focus.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#header div#header-inner form#search-form input#q:focus {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/search-icon-focus@2x.png");
    -webkit-background-size: 14px 14px;
    -moz-background-size: 14px 14px;
    background-size: 14px 14px;
  }
}
body div#player-container {
  left: 0;
  position: absolute;
  right: 0;
  height: 82px;
  width: auto;
  background-color: #333631;
  border: 0;
  border-bottom: 1px solid #222422;
  border-top: 1px solid #222422;
  color: #cacfc4;
  line-height: normal;
}
body div#player-container div#player-inner {
  position: relative;
  height: auto;
  margin: 0 auto;
  width: 700px;
}
body div#player-container div#player-inner div#player-controls {
  float: none;
  position: relative;
  height: auto;
  width: auto;
}
body div#player-container div#player-inner div#player-controls a#playerFav,
body div#player-container div#player-inner div#player-controls a#playerNext,
body div#player-container div#player-inner div#player-controls a#playerPlay,
body div#player-container div#player-inner div#player-controls a#playerPrev {
  float: none;
  left: 30px;
  position: absolute;
  top: 14px;
  display: block;
  height: 28px;
  padding: 0;
  width: 28px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  font-size: inherit;
  line-height: normal;
}
body div#player-container div#player-inner div#player-controls a#playerPrev {
  background-position: 4.5px 7px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/player/previous-icon.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#player-container div#player-inner div#player-controls a#playerPrev {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/player/previous-icon@2x.png");
    -webkit-background-size: 19px 14px;
    -moz-background-size: 19px 14px;
    background-size: 19px 14px;
  }
}
body div#player-container div#player-inner div#player-controls a#playerPrev:hover {
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/player/previous-icon-hover.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#player-container div#player-inner div#player-controls a#playerPrev:hover {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/player/previous-icon-hover@2x.png");
    -webkit-background-size: 15px 14px;
    -moz-background-size: 15px 14px;
    background-size: 15px 14px;
  }
}
body div#player-container div#player-inner div#player-controls a#playerPlay {
  left: 58px;
  background-position: 7.5px 7px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/player/play-icon.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#player-container div#player-inner div#player-controls a#playerPlay {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/player/play-icon@2x.png");
    -webkit-background-size: 13px 14px;
    -moz-background-size: 13px 14px;
    background-size: 13px 14px;
  }
}
body div#player-container div#player-inner div#player-controls a#playerPlay:hover {
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/player/play-icon-hover.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#player-container div#player-inner div#player-controls a#playerPlay:hover {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/player/play-icon-hover@2x.png");
    -webkit-background-size: 15px 14px;
    -moz-background-size: 15px 14px;
    background-size: 15px 14px;
  }
}
body div#player-container div#player-inner div#player-controls a#playerPlay.pause {
  background-position: 9px 7px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/player/pause-icon.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#player-container div#player-inner div#player-controls a#playerPlay.pause {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/player/pause-icon@2x.png");
    -webkit-background-size: 10px 14px;
    -moz-background-size: 10px 14px;
    background-size: 10px 14px;
  }
}
body div#player-container div#player-inner div#player-controls a#playerPlay.pause:hover {
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/player/pause-icon-hover.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#player-container div#player-inner div#player-controls a#playerPlay.pause:hover {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/player/pause-icon-hover@2x.png");
    -webkit-background-size: 10px 14px;
    -moz-background-size: 10px 14px;
    background-size: 10px 14px;
  }
}
body div#player-container div#player-inner div#player-controls a#playerFav {
  left: 86px;
  background-position: 6.5px 7px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/player/favorite-icon.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#player-container div#player-inner div#player-controls a#playerFav {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/player/favorite-icon@2x.png");
    -webkit-background-size: 15px 14px;
    -moz-background-size: 15px 14px;
    background-size: 15px 14px;
  }
}
body div#player-container div#player-inner div#player-controls a#playerFav:hover {
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/player/favorite-icon-hover.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#player-container div#player-inner div#player-controls a#playerFav:hover {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/player/favorite-icon-hover@2x.png");
    -webkit-background-size: 15px 14px;
    -moz-background-size: 15px 14px;
    background-size: 15px 14px;
  }
}
body div#player-container div#player-inner div#player-controls a#playerFav.fav-on,
body div#player-container div#player-inner div#player-controls a#playerFav.fav-on:hover {
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/player/favorite-icon-on.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#player-container div#player-inner div#player-controls a#playerFav.fav-on,
  body div#player-container div#player-inner div#player-controls a#playerFav.fav-on:hover {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/player/favorite-icon-on@2x.png");
    -webkit-background-size: 15px 14px;
    -moz-background-size: 15px 14px;
    background-size: 15px 14px;
  }
}
body div#player-container div#player-inner div#player-controls a#playerNext {
  left: 114px;
  background-position: 4.5px 7px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/player/next-icon.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#player-container div#player-inner div#player-controls a#playerNext {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/player/next-icon@2x.png");
    -webkit-background-size: 19px 14px;
    -moz-background-size: 19px 14px;
    background-size: 19px 14px;
  }
}
body div#player-container div#player-inner div#player-controls a#playerNext:hover {
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/player/next-icon-hover.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#player-container div#player-inner div#player-controls a#playerNext:hover {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/player/next-icon-hover@2x.png");
    -webkit-background-size: 15px 14px;
    -moz-background-size: 15px 14px;
    background-size: 15px 14px;
  }
}
body div#player-container div#player-inner div#player-controls div#player-nowplaying {
  float: none;
  left: 152px;
  position: absolute;
  right: 170px;
  top: 18px;
  height: 20px;
  padding: 0;
  width: auto;
  color: #f7faf2;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: center;
}
body div#player-container div#player-inner div#player-controls div#player-timebar {
  position: relative;
  top: auto;
  display: block;
  height: auto;
  width: auto;
  background-color: transparent;
  border: 0;
  font-size: inherit;
  line-height: normal;
}
body div#player-container div#player-inner div#player-controls div#player-timebar div#player-volume-mute {
  position: absolute;
  right: 132px;
  top: 14px;
  height: 28px;
  width: 28px;
  background-color: transparent;
  background-position: 6.5px 7px;
  background-repeat: no-repeat;
  cursor: default;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/player/volume-icon.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#player-container div#player-inner div#player-controls div#player-timebar div#player-volume-mute {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/player/volume-icon@2x.png");
    -webkit-background-size: 15px 14px;
    -moz-background-size: 15px 14px;
    background-size: 15px 14px;
  }
}
body div#player-container div#player-inner div#player-controls div#player-timebar div#player-volume-outer {
  position: absolute;
  right: 30px;
  top: 24px;
  height: 8px;
  width: 100px;
  background-color: #4a4d49;
  border: 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  line-height: normal;
}
body div#player-container div#player-inner div#player-controls div#player-timebar div#player-volume-outer div#player-volume-ctrl {
  height: 8px;
  background-color: #83c441;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
body div#player-container div#player-inner div#player-controls div#player-timebar div#player-time-position,
body div#player-container div#player-inner div#player-controls div#player-timebar div#player-time-total {
  position: absolute;
  top: 52px;
  height: 18px;
  width: 34px;
  color: #cacfc4;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}
body div#player-container div#player-inner div#player-controls div#player-timebar div#player-time-position {
  left: 30px;
}
body div#player-container div#player-inner div#player-controls div#player-timebar div#player-time-total {
  left: auto;
  right: 30px;
}
body div#player-container div#player-inner div#player-controls div#player-timebar div#player-progress-outer {
  left: 74px;
  position: absolute;
  right: 74px;
  top: 57px;
  height: 8px;
  overflow: hidden;
  width: auto;
  background-color: #4a4d49;
  border: 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  line-height: normal;
}
body div#player-container div#player-inner div#player-controls div#player-timebar div#player-progress-outer div#player-progress-loading {
  height: 8px;
  background-color: #666963;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
body div#player-container div#player-inner div#player-controls div#player-timebar div#player-progress-outer div#player-progress-playing {
  height: 8px;
  background-color: #83c441;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
body div#content-wrapper {
  position: relative;
  margin: 0;
  min-height: 0;
  overflow: visible;
  padding-top: 84px;
  width: 100%;
  background-color: #fff;
}
body div#content-wrapper div#container {
  position: relative;
  display: block;
  margin: 0;
  width: auto;
  background-color: transparent;
}
body div#content-wrapper div#container div#content {
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
}
body div#content-wrapper div#container div#content div#content-left {
  float: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 0;
  padding: 30px;
  width: 700px;
  background-color: transparent;
/* filter (submenu) */
/* track list */
}
body div#content-wrapper div#container div#content div#content-left ul#submenu {
  position: relative;
  height: 31px;
  padding-bottom: 20px;
  width: auto;
  border: 0;
  border-bottom: 1px solid #e5e8e1;
  font-size: inherit;
  line-height: normal;
}
body div#content-wrapper div#container div#content div#content-left ul#submenu li {
  float: left;
  position: relative;
  display: block;
  vertical-align: middle;
}
body div#content-wrapper div#container div#content div#content-left ul#submenu li#submenu-filter {
  position: absolute;
}
body div#content-wrapper div#container div#content div#content-left ul#submenu li#submenu-filter span.title {
  color: #666963;
  text-align: right;
}
body div#content-wrapper div#container div#content div#content-left ul#submenu li#submenu-filter span#submenu-filter-title {
  display: inline-block;
  height: 31px;
  padding: 0 10px;
  background-color: #83c441;
  border: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 31px;
}
body div#content-wrapper div#container div#content div#content-left ul#submenu li#submenu-filter ul {
  position: absolute;
  right: 0;
  top: 35px;
  padding: 10px 0;
  width: 180px;
  background-color: #fff;
  border: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px rgba(171,179,161,0.4), 0 3px 9px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 1px rgba(171,179,161,0.4), 0 3px 9px rgba(0,0,0,0.1);
}
body div#content-wrapper div#container div#content div#content-left ul#submenu li#submenu-filter ul::before {
  left: 0;
  position: absolute;
  right: 0;
  top: -10px;
  display: block;
  height: 10px;
  content: '';
}
body div#content-wrapper div#container div#content div#content-left ul#submenu li#submenu-filter ul li {
  float: none;
  font-size: inherit;
  line-height: normal;
}
body div#content-wrapper div#container div#content div#content-left ul#submenu li#submenu-filter ul li > a {
  display: block;
  height: 30px;
  padding: 0 15px;
  width: auto;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}
body div#content-wrapper div#container div#content div#content-left ul#submenu li#submenu-filter ul li > a:hover {
  background-color: #83c441;
  color: #fff;
  text-decoration: none;
}
body div#content-wrapper div#container div#content div#content-left ul#submenu li a {
  position: relative;
  display: block;
  height: 31px;
  padding: 0 10px;
  background-color: transparent;
  border: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 31px;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
}
body div#content-wrapper div#container div#content div#content-left ul#submenu li a:hover {
  border: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  text-decoration: none;
}
body div#content-wrapper div#container div#content div#content-left ul#submenu li a.selected {
  background-color: #83c441;
  border: 0;
  color: #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track {
  display: block;
  overflow: visible;
  padding: 0;
  background-color: transparent;
  border: 0;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player {
  min-height: 50px;
  padding: 20px 126px 20px 64px;
  border-bottom: 1px solid #f0f2ed;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player:hover h3.track_name {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player span.rank {
  position: absolute;
  left: 0;
  top: 46px;
  display: block;
  height: 24px;
  padding: 0;
  width: 24px;
  background-color: #fff;
  -webkit-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
  color: #333631;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player a.thumb {
  left: 0;
  position: absolute;
  top: 20px;
  display: block;
  height: 50px;
  width: 50px;
  background-color: #83c441 !important;
  border: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player h3.track_name {
  position: relative;
  padding-top: 5px;
  color: #fff;
  font-size: 0;
  line-height: normal;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player h3.track_name a:hover {
  text-decoration: none;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player h3.track_name a.artist {
  display: block;
  color: #666963;
  font-size: 13px;
  font-weight: 600;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player h3.track_name a.track {
  display: block;
  color: #111;
  font-size: 16px;
  font-weight: 600;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player h3.track_name a.track span:hover {
  text-decoration: none;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player h3.track_name a.track span.remix-link {
  color: #83c441;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools {
  position: absolute;
  right: 10px;
  top: 31px;
  width: 100px;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li {
  float: right;
  position: relative;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li a {
  position: relative;
  display: block;
  height: 28px;
  padding: 0;
  width: 28px;
  background-position: 7.5px 7px;
  background-repeat: no-repeat;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/track/play-icon.png");
  font-size: inherit;
  line-height: normal;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li a {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/track/play-icon@2x.png");
    -webkit-background-size: 13px 14px;
    -moz-background-size: 13px 14px;
    background-size: 13px 14px;
  }
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li a:hover {
  background-color: transparent;
  text-decoration: none;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.playdiv a.play-ctrl:hover {
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/track/play-icon-hover.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.playdiv a.play-ctrl:hover {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/track/play-icon-hover@2x.png");
    -webkit-background-size: 13px 14px;
    -moz-background-size: 13px 14px;
    background-size: 13px 14px;
  }
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.playdiv a.play-ctrl.pause {
  background-position: 9px 7px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/track/pause-icon.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.playdiv a.play-ctrl.pause {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/track/pause-icon@2x.png");
    -webkit-background-size: 10px 14px;
    -moz-background-size: 10px 14px;
    background-size: 10px 14px;
  }
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.playdiv a.play-ctrl.pause:hover {
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/track/pause-icon-hover.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.playdiv a.play-ctrl.pause:hover {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/track/pause-icon-hover@2x.png");
    -webkit-background-size: 10px 14px;
    -moz-background-size: 10px 14px;
    background-size: 10px 14px;
  }
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.favdiv a.haarp-fav-ctrl {
  background-position: 6.5px 7px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/track/favorite-icon.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.favdiv a.haarp-fav-ctrl {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/track/favorite-icon@2x.png");
    -webkit-background-size: 15px 14px;
    -moz-background-size: 15px 14px;
    background-size: 15px 14px;
  }
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.favdiv a.haarp-fav-ctrl:hover {
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/track/favorite-icon-hover.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.favdiv a.haarp-fav-ctrl:hover {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/track/favorite-icon-hover@2x.png");
    -webkit-background-size: 15px 14px;
    -moz-background-size: 15px 14px;
    background-size: 15px 14px;
  }
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.favdiv a.haarp-fav-ctrl.fav-on,
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.favdiv a.haarp-fav-ctrl.fav-on:hover {
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/imgs/track/favorite-icon-on.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.favdiv a.haarp-fav-ctrl.fav-on,
  body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.favdiv a.haarp-fav-ctrl.fav-on:hover {
    background-image: url("chrome-extension:/__MSG_@@extension_id__/assets/imgs/track/favorite-icon-on@2x.png");
    -webkit-background-size: 15px 14px;
    -moz-background-size: 15px 14px;
    background-size: 15px 14px;
  }
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.favdiv a.haarp-fav-count {
  margin: 0;
  width: auto;
  background: transparent;
  color: #333631;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  text-align: right;
  vertical-align: middle;
}
body div#content-wrapper div#container div#content div#content-left div#track-list div.section.section-track div.section-player ul.tools li.favdiv a.haarp-fav-count.favcount-on {
  color: #ed2024;
}
