
/* imports */
global-reset()
@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800')

/* dimensions */
border              = 0
minWidth            = 670px
maxWidth            = 1080px
mobile              = 320px
padding             = 12px
headerHeight        = 44px
logoWidth           = 46px
menuPadding         = 12px
controlHeight       = 28px
controlWidth        = 28px
playerHeight        = 44px
playerPadding       = 8px
playerPaddingMini   = (playerPadding * 2) + controlHeight
submenuHeight       = 29px
submenuPadding      = 8px

/* track */
trackArtwork        = 28px
trackPadding        = 8px
trackRadius         = 3px
trackRank           = 28px

/* font family */
fontFamily          = "Open Sans", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif

/* font colors */
fontColor           = #333631
fontColorLightest    = #f7faf2
fontColorLighter    = #91948e
fontColorLight      = #666963
fontColorDark       = #111111
fontColorLink       = #83c441
fontColorFavorite   = #ed2024

/* special colors */
darkBg              = #3e403d
darkerBg            = #313330

/* border arrow */
arrow(direction, color, size)
  display: block
  height: 0
  width: 0

  if direction == "top"
    border-bottom: size solid color
    border-left: size solid transparent
    border-right: size solid transparent

  else if direction == "right"
    border-bottom: size solid transparent
    border-left: size solid color
    border-top: size solid transparent

  else if direction == "bottom"
    border-left: size solid transparent
    border-right: size solid transparent
    border-top: size solid color

  else if direction == "left"
    border-bottom: size solid transparent
    border-right: size solid color
    border-top: size solid transparentske

  else if direction == "top-left"
    border-right: size solid transparent
    border-top: size solid color

  else if direction == "top-right"
    border-left: size solid transparent
    border-top: size solid color

  else if direction == "bottom-left"
    border-bottom: size solid color
    border-right: size solid transparent

  else if direction == "bottom-right"
    border-bottom: size solid color
    border-left: size solid transparent

/* placeholder */
placeholder(placeholder = #999999)

  /* Chrome + Safari */
  &::-webkit-input-placeholder
    color: placeholder

  /* Firefox 18- */
  &:-moz-placeholder
    color: placeholder

  /* Firefox 19+ */
  &::-moz-placeholder
    color: placeholder

  /* Internet Explorer */
  &:-ms-input-placeholder
    color: placeholder

/* retina images */
image-set(normal, retina)
  background-image: image_url(normal)
  background-image: -webkit-image-set(image_url(normal) 1x, image_url(retina) 2x)
