
/*
  This entire section exists to remove a bunch of elements from
  the page that aren't required as part of this UI concept. Be
  careful when removing an element from this list as it may break
  a whole bunch of stuff.

  Try to keep everything in alphabetical order.
*/

html body

  div#about-site,
  div#footer-menu,
  div#footer,
  div.ignite-takeover-clickthru,
  div#keyboard,
  div#toast-prompt,
  div#top-notice,
  div#VIZUSURVEY
    display: none !important

  div#header div#header-inner

    a

      &#logo-temp
        display: none !important

      &#logo-txt::before
        display: none !important

    div#hh-header,
    div#hh-wrap-header,
    div#stack-menu,
    div#tv-controls,
    div#zeitgeist-header-menu
      display: none !important

    form#search-form
      a#shuf,
      input[type="submit"]
        display: none !important

    ul.menu
      li#menu-item-directory,
      li#menu-item-hh,
      li#menu-item-more,
      li#menu-item-premiere,
      li#menu-item-search,
      li#menu-item-zeitgeist
        display: none !important

  div#player-container div#player-inner

    &::before,

    div#filter
      display: none !important

    div#player-controls

      a#playerFav,
      a#playerNext,
      a#playerPlay,
      a#playerPrev

        &::before
          display: none !important

      div.share-icons > a
        display: none !important

      div#player-volume-mute

        &::before,
        span
          display: none !important

      div#player-nowplaying

        div.share-icons
          display: none !important

      div#player-timebar

        div#player-volume-mute,
        div#player-volume-outer
          display: none !important

  div#content-wrapper

    a#phonograph,
    div.tsad-skin
      display: none !important

    div#submenu-container ul#submenu li#nav-videos
      display: none !important

    div#container

      div.ad-breakout,
      div#ad-breakout
        display: none !important

      div#content

        div.ad-wrapper,
        div#message-intro-new
          display: none !important

        div#content-left

          div.header-box,
          div.locale-blogs-header,
          div#message,
          div#tags,

          hr.space,

          ul#submenu
            display: none !important

          div#loved-tracks,
          div#track-list

            div.no-search-results img,
            div.wb-hypem-ad-grid-title,
            div.wb-ad-grid
              display: none !important

            div.section

              &.section-moreinpost
                display: none !important

              &.section-track, &.artist

                > div.track-info,

                h2
                  display: none !important

                div.section-player

                  > div.meta,
                  > span.rank,
                  > span.share-links,
                  > ul.tools,

                  div.act_info,
                  div.sparkdiv,
                  div.tweet-info,

                  p.post_info,

                  ul.tags
                    display: none !important

                  h3.track_name

                    a.track span.remix-count
                      display: none !important

                    + p
                      display: none !important

                  div.meta span.buy a.toggle-reposts
                    display: none !important

                  ul.tools li

                    &.playlist-ctrls
                      display: none !important

                    a::before
                      display: none !important

          div.paginator

            span,
            a[rel="nofollow"]
                display: none !important

        div#content-right
          display: none !important

        div#time-machine
          display: none !important
