
/* helpers */
@import '_helpers.styl'
@import '_hidden.styl'

/* build */
html body
  box-sizing: border-box !important
  min-width: minWidth !important
  padding: border !important

  background-color: #ffffff !important
  background-image: none !important
  color: fontColor !important
  font-family: fontFamily !important
  font-size: 400 !important
  vertical-align: middle !important

  h1, h2, h3, h4, h5, h6,
  a, em, p, strong
    font-family: fontFamily !important

  a
    color: fontColorLink

  /* header */
  div#header
    position: relative
    z-index: 100

    height: auto
    width: auto

    background-color: #ffffff
    font-family: fontFamily
    line-height: normal
    text-align: left
    vertical-align: middle

    div#header-inner
      position: relative

      height: headerHeight
      margin: 0 auto
      width: auto

      /* logo */
      a#logo-txt
        float: none
        left: 10px
        position: absolute
        top: 0
        z-index: 5

        height: headerHeight
        padding: 0
        width: 91px

        background-position: 20px 23px
        background-repeat: no-repeat
        color: fontColorDark
        image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/header/logo.png' 51px 18px
        font-size: inherit
        line-height: normal

        &:hover
          background-color: fontColorLink
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/header/logo-hover.png' 51px 18px

          &::after
            display: none

        &::after
          position: absolute
          right: 0
          top: 15px

          display: block
          height: 34px
          width: 1px

          background-color: #e5e8e1
          content: ''

      /* navigation */
      ul.menu
        left: 100px
        position: absolute
        top: 0
        z-index: 10

        display: block
        height: headerHeight

        font-size: inherit
        vertical-align: middle

        li
          float: left

          display: block
          margin-left: -1px

          vertical-align: middle

          > a
            display: block
            padding: 0 15px

            background-color: transparent
            border: 0
            color: fontColorDark
            font-size: 15px
            font-weight: 600
            line-height: headerHeight
            opacity: 0.75
            vertical-align: middle

            &:hover
              background-color: transparent
              opacity: 1

          &:hover
            background-color: transparent

            ul
              display: block

          &:first-child
            margin-left: 0

          &.active
            background-color: transparent

            > a
              height: headerHeight + 1px
              margin-bottom: -1px

              background-color: fontColor
              color: #ffffff
              font-weight: 600
              opacity: 1
              text-decoration: none

              &:hover
                background-color: fontColor

          ul
            left: 15px
            position: absolute
            top: headerHeight - 10px
            z-index: 500

            padding: 10px 0
            width: 180px

            background-color: #ffffff
            border-radius: 4px
            box-shadow: 0 0 0 1px rgba(#abb3a1,0.4), 0 3px 9px rgba(#000000,0.1)

            &::before
              left: 15px
              position: absolute
              top: -10px

              arrow(top, rgba(#abb3a1,0.4), 10px)
              content: ''

            &::after
              left: 15px
              position: absolute
              top: -9px

              arrow(top, #ffffff, 10px)
              content: ''

            li
              float: none

              font-size: inherit
              line-height: normal

              > a
                display: block
                height: 30px
                padding: 0 15px
                width: auto

                color: fontColorDark
                font-size: 14px
                font-weight: 600
                line-height: 30px

                &:hover
                  background-color: fontColorLink
                  color: #ffffff
                  text-decoration: none

      /* search field */
      form#search-form
        position: absolute
        right: padding
        top: 17px

        display: block
        height: auto
        width: auto

        vertical-align: middle

        input#q
          float: none
          position: relative
          z-index: 5

          box-sizing: border-box
          height: 30px
          margin: 0
          padding: 0 30px 0 15px
          width: 160px

          background-color: #ffffff
          background-position: 132px 7px
          background-repeat: no-repeat
          border: 1px solid #d8dbd3
          border-radius: 50px
          color: FontColorLight
          font-family: fontFamily
          font-size: 13px
          font-weight: 400
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/header/search-icon.png' 14px 14px
          line-height: 30px
          outline: 0

          placeholder(FontColorLight)

          &:focus
            border-color: #aeb3a6
            color: FontColor
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/header/search-icon-focus.png' 14px 14px

  /* loader */
  div#player-loading
    bottom: auto
    left: 50%
    position: fixed
    right: auto
    top: 50%
    z-index: 999

    height: auto
    margin: -41px 0 0 -41px
    padding: 26px 0
    width: 82px

    background-color: fontColorLink
    border-radius: 6px
    opacity: 0.85

    span
      position: relative

      display: block
      height: 30px
      margin: 0 auto
      padding: 0
      width: 30px

      background-color: transparent
      background-image: url('chrome-extension://__MSG_@@extension_id__/assets/imgs/player/loading.gif')
      background-position: 0 0
      background-repeat: no-repeat
      border: 0
      border-radius: 0
      font-size: 0
      text-transform: lowercase

  /* player */
  div#player-container
    left: border
    position: absolute
    right: border
    top: headerHeight
    z-index: 90

    height: playerHeight
    width: auto

    background-color: fontColor
    border: 0
    color: #cacfc4
    line-height: normal

    &.stick
      position: fixed
      top: 0
      z-index: 998

    div#player-inner
      position: relative

      height: auto
      margin: 0 auto
      width: auto

      div#player-controls
        float: none
        position: relative

        height: auto
        width: auto

        &.disabled
          cursor: default
          opacity: 0.25

        a#playerFav,
        a#playerNext,
        a#playerPlay,
        a#playerPrev
          float: none
          left: padding
          position: absolute
          top: 14px

          display: block
          height: controlHeight
          padding: 0
          width: controlWidth

          background-color: transparent
          background-repeat: no-repeat
          border: 0
          font-size: inherit
          line-height: normal

        a#playerPrev
          background-position: ((controlWidth - 19px)/2) ((controlHeight - 14px)/2)
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/previous-icon.png' 19px 14px

          &:hover
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/previous-icon-hover.png' 19px 14px

        a#playerPlay
          left: padding + controlWidth

          background-position: ((controlWidth - 13px)/2) ((controlHeight - 14px)/2)
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/play-icon.png' 13px 14px

          &:hover
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/play-icon-hover.png' 13px 14px

          &.pause
            background-position: ((controlWidth - 10px)/2) ((controlHeight - 14px)/2)
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/pause-icon.png' 10px 14px

            &:hover
              image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/pause-icon-hover.png' 10px 14px

        a#playerFav
          left: padding + (controlWidth * 2)

          background-position: ((controlWidth - 15px)/2) ((controlHeight - 14px)/2)
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/favorite-icon.png' 15px 14px

          &:hover
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/favorite-icon-hover.png' 15px 14px

          &.fav-on, &.fav-on:hover
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/favorite-icon-on.png' 15px 14px

        a#playerNext
          left: padding + (controlWidth * 3)

          background-position: ((controlWidth - 19px)/2) ((controlHeight - 14px)/2)
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/next-icon.png' 19px 14px

          &:hover
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/next-icon-hover.png' 19px 14px

        div#player-nowplaying
          float: none
          left: padding + (controlWidth * 4) + 10px
          position: absolute
          right: 10px + controlWidth + 2px + 100px + padding
          top: 18px

          height: 20px
          padding: 0
          width: auto

          color: fontColorLighter
          font-size: 15px
          font-weight: 400
          line-height: 20px
          overflow: ellipsis
          text-align: center

          a
            color: fontColorLighter

            &:hover
              color: fontColorLink
              text-decoration: none

        div#player-timebar
          position: relative
          top: auto

          display: block
          height: auto
          width: auto

          background-color: transparent
          border: 0
          font-size: inherit
          line-height: normal

          div#player-volume-mute
            position: absolute
            right: padding + 100px + 2px
            top: 14px

            height: controlHeight
            width: controlWidth

            background-color: transparent
            background-position: ((controlWidth - 15px)/2) ((controlHeight - 14px)/2)
            background-repeat: no-repeat
            cursor: default
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/volume-icon.png' 15px 14px

          div#player-volume-outer
            position: absolute
            right: padding
            top: 24px

            height: 8px
            width: 100px

            background-color: #4a4d49
            border: 0
            border-radius: 8px
            line-height: normal

            div#player-volume-ctrl
              height: 8px

              background-color: fontColorLink
              border-radius: 8px

          div#player-time-position, div#player-time-total
            position: absolute
            top: 14px + 28px + 10px

            height: 18px
            width: 34px

            color: #cacfc4
            font-size: 13px
            font-weight: 600
            line-height: 18px
            text-align: center
            vertical-align: middle

          div#player-time-position
            left: padding

          div#player-time-total
            left: auto
            right: padding

          div#player-progress-outer
            left: padding + 34px + 10px
            position: absolute
            right: 10px + 34px + padding
            top: 14px + 28px + 10px + 5px

            height: 8px
            overflow: hidden
            width: auto

            background-color: #4a4d49
            border: 0
            border-radius: 8px
            line-height: normal

            div#player-progress-loading
              height: 8px

              background-color: fontColorLight
              border-radius: 8px

            div#player-progress-playing
              height: 8px

              background-color: fontColorLink
              border-radius: 8px

  /* content */
  div#content-wrapper
    position: relative

    margin: 0
    min-height: 0
    overflow: visible
    padding-top: playerHeight
    width: 100%

    background-color: #ffffff
    border-top: 1px solid #f0f2ed

    div#container
      position: relative

      display: block
      margin: 0
      width: auto

      background-color: transparent

      /* removes padding from infinite pagination containers */
      &:nth-child(7), &:nth-child(9)

        div#content div#content-left
          padding: 0

          div#track-list div.section.section-track.first
            border-top: 1px solid #f0f2ed

      div#content
        position: relative

        margin: 0
        padding: 0
        width: auto

        div#content-left
          float: none
          position: relative

          box-sizing: border-box
          margin: 0
          min-height: 0
          padding: 20px 0 0
          width: auto

          background-color: transparent

          /* filter (submenu) */
          ul#submenu
            position: relative

            box-sizing: border-box
            height: submenuHeight + 20px
            margin: 0 auto
            padding: 0 padding
            width: 100%

            border: 0
            font-size: inherit
            line-height: normal

            li
              float: left
              position: relative

              display: block

              vertical-align: middle

              &#submenu-filter
                position: absolute
                right: padding

                span

                  &.title
                    color: fontColorLight
                    text-align: right

                  &#submenu-filter-title
                    display: inline-block
                    height: submenuHeight
                    padding: 0 10px

                    background-color: fontColorLink
                    border: 0
                    border-radius: 5px
                    color: #ffffff
                    font-size: 14px
                    font-weight: 600
                    line-height: submenuHeight

                ul
                  position: absolute
                  right: 0
                  top: submenuHeight + 4px

                  padding: 10px 0
                  width: 180px

                  background-color: #ffffff
                  border: 0
                  border-radius: 4px
                  box-shadow: 0 0 0 1px rgba(#abb3a1,0.4), 0 3px 9px rgba(#000000,0.1)

                  &::before
                    left: 0
                    position: absolute
                    right: 0
                    top: -10px

                    display: block
                    height: 10px

                    content: ''

                  li
                    float: none

                    font-size: inherit
                    line-height: normal

                    > a
                      display: block
                      height: 30px
                      padding: 0 15px
                      width: auto

                      border-radius: 0
                      color: fontColorDark
                      font-size: 14px
                      font-weight: 600
                      line-height: 30px

                      &:hover
                        background-color: fontColorLink
                        color: #ffffff
                        text-decoration: none

              a
                position: relative

                display: block
                height: submenuHeight
                padding: 0 10px

                background-color: transparent
                border: 0
                border-radius: 5px
                color: fontColorDark
                font-size: 14px
                font-weight: 600
                line-height: submenuHeight
                opacity: 0.75

                &:hover
                  border: 0
                  opacity: 1
                  text-decoration: none

                &.selected
                  background-color: fontColorLink
                  border: 0
                  color: #ffffff
                  opacity: 1

          /* track list */
          div#track-list, div#loved-tracks

            div.section

              &.artist
                border: 0

                h2
                  position: relative

                  margin: 0
                  height: 0
                  padding: 0
                  width: 0

                  border: 0
                  background: transparent
                  line-height: 0

                  div.rank
                    float: none
                    position: absolute
                    left: padding + (trackArtwork - trackRank)
                    top: trackPadding + (trackArtwork - trackRank) + 1px

                    display: block
                    height: trackRank
                    margin: 0
                    padding: 0
                    width: trackRank

                    background-color: fontColorLink
                    border-radius: 4px 0 4px 0
                    color: #ffffff
                    font-size: 12px
                    font-weight: 400
                    line-height: trackRank
                    text-align: center

                  a
                    font-size: 0

              &.section-track
                display: block
                overflow: visible
                padding: 0

                background-color: transparent
                border: 0
                border-top: 1px solid #f0f2ed

                &.first
                  border-top: 1px solid #e5e8e1

                &.haarp-active
                  background-color: fontColorLighter

                div.section-player
                  box-sizing: border-box
                  margin: 0 auto
                  min-height: trackArtwork + (trackPadding * 2)
                  padding: trackPadding (126px + padding) trackPadding (padding + trackArtwork + 14px)
                  width: 100%

                  &:hover

                    h3.track_name
                      opacity: 1

                  span.rank
                    position: absolute
                    left: padding + (trackArtwork - trackRank)
                    top: trackPadding + (trackArtwork - trackRank)

                    display: block
                    height: trackRank
                    padding: 0
                    width: trackRank

                    background-color: fontColorLink
                    border-radius: 4px 0 4px 0
                    color: #ffffff
                    font-size: 12px
                    font-weight: 400
                    line-height: trackRank
                    text-align: center

                  a.thumb
                    left: padding
                    position: absolute
                    top: trackPadding

                    display: block
                    height: trackArtwork
                    width: trackArtwork

                    background-color: fontColorLink !important
                    border: 0
                    border-radius: 5px
                    box-shadow: inset 0 0 0 1px rgba(#000000,0.1)

                  h3.track_name
                    position: relative

                    margin: 0
                    padding-top: 5px

                    color: #ffffff
                    font-size: 0
                    line-height: normal
                    opacity: 0.75

                    a
                      line-height: normal
                      margin: 0

                      &:hover
                        text-decoration: none

                      &.artist
                        display: block

                        color: fontColorLight
                        font-size: 13px
                        font-weight: 600

                      &.track
                        display: block

                        color: fontColorDark
                        font-size: 16px
                        font-weight: 600

                        &:hover
                          text-decoration: none

                        span

                          &:hover
                            text-decoration: none

                          &.base-title
                            text-decoration: none

                          &.remix-link
                            color: fontColorLink

                  ul.tools
                    position: absolute
                    right: padding
                    top: trackPadding + 11px

                    width: 100px

                    li
                      float: right
                      position: relative

                      a
                        position: relative

                        display: block
                        height: controlHeight
                        padding: 0
                        width: controlWidth

                        background-position: ((controlWidth - 13px)/2) ((controlHeight - 14px)/2)
                        background-repeat: no-repeat
                        image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/play-icon.png' 13px 14px
                        font-size: inherit
                        line-height: normal

                        &:hover
                          background-color: transparent
                          text-decoration: none

                      &.playdiv a.play-ctrl

                        &:hover
                          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/play-icon-hover.png' 13px 14px

                        &.pause
                          background-position: ((controlWidth - 10px)/2) ((controlHeight - 14px)/2)
                          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/pause-icon.png' 10px 14px

                          &:hover
                            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/pause-icon-hover.png' 10px 14px

                      &.favdiv

                        a.haarp-fav-ctrl
                          background-position: ((controlWidth - 15px)/2) ((controlHeight - 14px)/2)
                          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/favorite-icon.png' 15px 14px

                          &:hover
                            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/favorite-icon-hover.png' 15px 14px

                          &.fav-on, &.fav-on:hover
                            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/favorite-icon-on.png' 15px 14px

                        a.haarp-fav-count
                          margin: 0
                          width: auto

                          background: transparent
                          color: fontColor
                          font-size: 14px
                          font-weight: 600
                          line-height: 28px
                          text-align: right
                          vertical-align: middle

                          &.favcount-on
                            color: fontColorFavorite

                  div.tweet-info
                    overflow: hidden

                    margin: 8px 0 0
                    padding: 10px 0 4px

                    border-top: 1px solid #f8faf5

                    &::before
                      display: block
                      padding-bottom: 6px

                      content: 'Tweets'
                      color: fontColorLight
                      font-size: 12px
                      font-weight: 600

                    div.act_info_tweets

                      p
                        margin: 0

                        color: fontColorLight
                        font-size: 12px
                        font-weight: 400
                        line-height: 20px

                        a.twitter_user
                          margin-right: 6px

                      div.twitter_contributors
                        margin: 0

                        font-size: inherit
                        line-height: normal

                        a

                          &.twitter_user
                            float: left
                            position: relative

                            display: block
                            height: 20px
                            margin-right: 2px
                            width: 20px

                            border: 0

                            img
                              height: 20px
                              width: 20px

                              border-radius: 3px

                          &.tweets_extra_toggle
                            height: 20px
                            margin: 0 0 0 6px
                            width: auto

                            border: 0
                            font-size: 13px
                            font-weight: 600
                            line-height: 20px

                      ul.tweets_extra
                        position: relative

                        clear: both
                        display: block
                        margin: 0
                        max-height: 200px
                        padding: 0

                        background-color: #f8faf5
                        border: 1px solid #f0f2ed
                        border-radius: 5px

                        li
                          position: relative

                          clear: both
                          display: block
                          padding: 6px 10px

                          border-bottom: 1px solid #f0f2ed
                          color: fontColorLight
                          font-size: 12px
                          line-height: 20px

                          a

                            &.twitter_user
                              float: left
                              position: relative

                              display: inline-block
                              height: 20px
                              margin: 0 10px 0 0
                              width: auto

                              border: 0
                              font-size: 12px
                              font-weight: 600
                              line-height: 20px

                              img
                                display: inline-block
                                height: 20px !important
                                width: 20px !important

                                border-radius: 3px

                          span.tweet_points_total
                            top: 6px
                            position: absolute
                            right: 10px

                            color: fontColorLight
                            font-size: 12px
                            font-weight: 400
                            line-height: 20px

            h2
              display: block
              height: 42px
              margin: 0
              padding: 0 padding
              width: auto

              background-color: #f8faf5
              border-top: 1px solid #f0f2ed
              color: fontColorDark
              font-size: 14px
              font-weight: 600
              line-height: 42px

              span.remix-icon
                display: none

          /* pagination */
          div.paginator
            display: none
