
/* helpers */
@import '_helpers.styl'
@import '_hidden.styl'

/* build */
html body,
html body#wrapper,
html body#latest,
html body#popular,
html body#tags,
html body#contact
  box-sizing: border-box !important
  min-width: minWidth !important
  padding: border !important

  background-color: #ffffff !important
  background-image: none !important
  color: fontColor !important
  font-family: fontFamily !important
  font-smoothing: auto !important
  font-size: 400 !important
  vertical-align: middle !important

  h1, h2, h3, h4, h5, h6,
  a, em, p, strong
    font-family: fontFamily !important

  a
    color: fontColorLink

    &:active
      top: auto

  /* item */
  &#item div#track-list
    margin: 0

  /* header */
  > div#header
    position: relative
    z-index: 100

    height: auto
    width: auto

    background: darkBg
    background-color: darkBg
    background-image: none
    font-family: fontFamily
    line-height: normal
    text-align: left
    vertical-align: middle

    div#header-inner
      position: relative

      height: headerHeight
      margin: 0 auto
      max-width: maxWidth
      width: auto

      /* logo */
      a#logo-txt
        float: none
        left: 0
        position: absolute
        top: 0
        z-index: 5

        display: block
        height: headerHeight
        padding: 0
        width: padding + logoWidth + padding

        background-position: padding ((headerHeight - 16px)/2)
        background-repeat: no-repeat
        color: fontColorDark
        image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/header/logo.png' logoWidth 16px
        font-size: inherit
        line-height: normal

        &:hover
          background-color: fontColorLink
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/header/logo-hover.png' logoWidth 16px

          &::after
            display: none

        &::after
          position: absolute
          right: 0
          top: ((headerHeight - 24px)/2)

          display: block
          height: 24px
          width: 1px

          background-color: darkerBg
          content: ''

      /* navigation */
      ul.menu
        left: padding + logoWidth + padding - 1px
        position: absolute
        top: 0
        z-index: 10

        display: block
        height: headerHeight

        font-size: inherit
        vertical-align: middle

        li
          float: left

          display: block
          margin-left: -1px

          background-color: transparent
          vertical-align: middle

          > a
            display: block
            padding: 0 menuPadding

            background-color: transparent
            border: 0
            color: #ffffff
            font-size: 13px
            font-weight: 400
            line-height: headerHeight
            opacity: 0.75
            vertical-align: middle

          &:hover
            background-color: transparent

            a
              background-color: fontColorLink
              color: #ffffff
              opacity: 1

            ul
              display: block

          &:first-child
            margin-left: 0

          &.active
            background-color: transparent

            > a
              height: headerHeight

              background-color: darkerBg
              color: #ffffff
              font-weight: 400
              opacity: 1
              text-decoration: none

            &:hover

              > a
                background-color: fontColorLink
                opacity: 1

          ul
            left: 0
            position: absolute
            top: headerHeight
            z-index: 500

            padding: 10px 0
            width: 180px

            background-color: fontColorLink
            border-radius: 0 0 6px 6px

            li
              float: none

              margin: 0

              font-size: inherit
              line-height: normal

              > a
                display: block
                height: controlHeight
                padding: 0 menuPadding
                width: auto

                color: #f3f7f0
                font-size: 13px
                font-weight: 400
                line-height: controlHeight

                &:hover
                  background-color: #6da831
                  color: #ffffff
                  text-decoration: none

      /* random button */
      a#shuf
        left: padding + logoWidth + padding + 197px /* 197 is the width of the menu */
        position: absolute
        top: 0

        display: block
        padding: 0 menuPadding

        background-color: transparent
        border: 0
        color: #ffffff
        font-size: 13px
        font-smoothing: auto
        font-weight: 400
        line-height: headerHeight
        opacity: 0.75
        vertical-align: middle

        &::before
          color: #ffffff
          content: 'Random'

        &:hover
          background-color: fontColorLink
          color: #ffffff
          opacity: 1

          &::before
            color: #ffffff

      /* usermenu */
      div#filter
        position: absolute
        right: padding + 160px + padding
        top: 0
        z-index: 50

        div
          display: block

          vertical-align: middle

          &#menu-out a
            float: left

            display: block
            height: headerHeight
            margin: 0
            padding: 0 menuPadding
            width: auto

            background-color: transparent
            border: 0
            color: #ffffff
            font-size: 13px
            font-weight: 400
            line-height: headerHeight
            opacity: 0.75
            vertical-align: middle

            &:hover
              background-color: fontColorLink
              color: #ffffff
              opacity: 1
              text-decoration: none

          &#menu-friends
            display: none

          &#menu-username
            width: auto

            cursor: pointer
            text-align: left

            a#menu-item-username
              display: block
              height: headerHeight
              padding: 0 menuPadding
              width: auto

              background-color: transparent
              border: 0
              color: #ffffff
              font-size: 13px
              font-weight: 400
              line-height: headerHeight
              opacity: 0.75
              vertical-align: middle

              img#avatar-mini
                display: inline-block
                height: 20px
                margin: -3px 0 0 5px
                width: 20px

                border-radius: 3px
                vertical-align: middle

              span.count
                display: none
                height: 20px
                margin: 0
                padding: 0 6px
                width: auto

                background-color: #ed2024
                border-radius: 3px
                color: #ffffff
                font-weight: 600
                line-height: 20px
                text-align: center

                &.show-count
                  display: inline-block

              &:hover
                background-color: fontColorLink
                color: #ffffff
                opacity: 1

            ul
              left: auto
              position: absolute
              right: 0
              top: headerHeight
              z-index: 500

              padding: 10px 0
              width: 180px

              background-color: fontColorLink
              border-radius: 0 0 6px 6px

              li
                float: none

                margin: 0

                font-size: inherit
                line-height: normal

                > a
                  position: relative

                  display: block
                  height: controlHeight
                  padding: 0 menuPadding
                  width: auto

                  background-color: transparent
                  border: 0
                  color: #f3f7f0
                  font-size: 13px
                  font-weight: 400
                  line-height: controlHeight

                  span.unread-notification-icon
                    position: absolute
                    right: menuPadding
                    top: ((controlHeight - 8px)/2)

                    display: block
                    height: 8px
                    width: 8px

                    background-color: fontColorFavorite
                    border-radius: 8px
                    color: fontColor
                    font-size: 0

                  &:hover
                    background-color: #6da831
                    color: #ffffff
                    text-decoration: none

            &:hover

              a#menu-item-username
                background-color: fontColorLink
                color: #ffffff
                opacity: 1

              ul
                display: block

      /* search field */
      form#search-form
        position: absolute
        right: padding
        top: ((headerHeight - 30px)/2)

        display: block
        height: auto
        width: auto

        vertical-align: middle

        input#q
          float: none
          position: relative
          z-index: 5

          box-sizing: border-box
          height: 30px
          margin: 0
          padding: 0 30px 0 menuPadding
          width: 160px

          background-color: darkBg
          background-position: 132px 7px
          background-repeat: no-repeat
          border: 1px solid darkerBg
          border-radius: 50px
          color: rgba(#ffffff,0.75)
          font-family: fontFamily
          font-size: 12px
          font-weight: 400
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/header/search-icon.png' 14px 14px
          line-height: 30px
          outline: 0

          placeholder(FontColorLight)

          &:hover
            background-color: #383b37
            border-color: darkerBg
            color: #ffffff
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/header/search-icon-hover.png' 14px 14px

          &:focus
            background-color: darkerBg
            border-color: darkerBg
            box-shadow: 0 0 5px 1px #4a4d49
            color: #ffffff
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/header/search-icon-focus.png' 14px 14px

  /* loader */
  > div#player-loading
    bottom: auto
    left: 50%
    position: fixed
    right: auto
    top: 50%
    z-index: 999

    height: auto
    margin: -41px 0 0 -41px
    padding: 26px 0
    width: 82px

    background-color: fontColorLink
    border-radius: 6px
    opacity: 0.85

    span
      position: relative

      display: block
      height: 30px
      margin: 0 auto
      padding: 0
      width: 30px

      background-color: transparent
      background-image: url('chrome-extension://__MSG_@@extension_id__/assets/imgs/player/loading.gif')
      background-position: 0 0
      background-repeat: no-repeat
      border: 0
      border-radius: 0
      font-size: 0
      text-transform: lowercase

  /* player */
  > div#player-container
    left: border
    position: absolute
    right: border
    top: headerHeight !important
    z-index: 90

    height: playerHeight
    width: auto

    background-color: darkerBg
    border: 0
    color: #cacfc4
    line-height: normal

    @media (max-width: mobile * 3)
      height: playerHeight + controlHeight + playerPadding

    &.stick
      position: fixed
      top: 0 !important
      z-index: 998

    div#player-inner
      position: relative
      z-index: 50

      height: auto
      margin: 0 auto
      max-width: maxWidth
      width: auto

      border: 0

      /* return */
      div#player-page
        left: mobile
        position: absolute
        right: auto
        top: playerPadding
        z-index: 55

        visibilty: visible
        width: auto

        background-color: transparent

        @media (max-width: mobile * 3)
          left: padding

        a
          display: block
          height: controlHeight
          width: controlWidth

          background-position: ((controlWidth - 14px)/2) ((controlHeight - 14px)/2)
          background-repeat: no-repeat
          font-size: 0
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/return-icon.png' 14px 14px

          &:hover
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/return-icon-hover.png' 14px 14px

          img
            display: none
            margin: 0

      /* global controls */
      div#player-controls
        float: none
        position: relative
        z-index: 50

        height: auto
        width: auto

        &.disabled
          cursor: default
          opacity: 0.25
          pointer-events: none

        /* icons (excluding sharing) */
        a#playerFav,
        a#playerNext,
        a#playerPlay,
        a#playerPrev
          float: none
          left: padding
          position: absolute
          top: playerPadding

          display: block
          height: controlHeight
          padding: 0
          width: controlWidth

          background-color: transparent
          background-repeat: no-repeat
          border: 0
          font-size: inherit
          line-height: normal

          @media (max-width: mobile * 3)
            top: playerPaddingMini

        a#playerPrev
          background-position: ((controlWidth - 16px)/2) ((controlHeight - 12px)/2)
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/previous-icon.png' 16px 12px

          &:hover
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/previous-icon-hover.png' 16px 12px

          &.playerPrev-inactive
            display: block
            opacity: 0.3
            pointer-events: none

        a#playerPlay
          left: padding + controlWidth

          background-position: ((controlWidth - 12px)/2) ((controlHeight - 14px)/2)
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/play-icon.png' 12px 14px

          &:hover
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/play-icon-hover.png' 12px 14px

          &.pause
            background-position: ((controlWidth - 10px)/2) ((controlHeight - 14px)/2)
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/pause-icon.png' 10px 14px

            &:hover
              image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/pause-icon-hover.png' 10px 14px

        a#playerFav
          left: padding + (controlWidth * 2)

          background-position: ((controlWidth - 16px)/2) ((controlHeight - 14px)/2)
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/favorite-icon.png' 16px 14px

          &:hover
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/favorite-icon-hover.png' 16px 14px

          &.fav-on, &.fav-on:hover
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/favorite-icon-on.png' 16px 14px

        a#playerNext
          left: padding + (controlWidth * 4)

          background-position: ((controlWidth - 16px)/2) ((controlHeight - 12px)/2)
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/next-icon.png' 16px 12px

          &:hover
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/next-icon-hover.png' 16px 12px

          &.playerNext-inactive
            display: block
            opacity: 0.3
            pointer-events: none

        /* sharing menu */
        div.share-icons
          float: none
          left: padding + (controlWidth * 3)
          position: absolute
          top: playerPadding

          border-radius: 3px 3px 0 0
          cursor: pointer

          @media (max-width: mobile * 3)
            top: playerPaddingMini

          &::before
            display: block
            height: controlHeight
            padding: 0
            width: controlWidth

            background-color: transparent
            background-position: ((controlWidth - 18px)/2) ((controlHeight - 14px)/2)
            background-repeat: no-repeat
            content: ''
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/share-icon.png' 18px 14px
            border: 0
            font-size: inherit
            line-height: normal

          &:hover
            background-color: fontColorLink

            &::before
              image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/share-icon-hover.png' 18px 14px

            div.playersharemenu
              display: block

          div.playersharemenu
            left: 0
            position: absolute
            right: auto
            top: controlHeight
            z-index: 500

            display: none
            padding: 10px 0
            width: 180px

            background-color: fontColorLink
            border-radius: 0 6px 6px 6px

            > a
              display: block
              height: controlHeight
              padding: 0 15px
              width: auto

              color: #f3f7f0
              font-size: 13px
              font-weight: 400
              line-height: controlHeight

              &:hover
                background-color: #6da831
                color: #ffffff
                text-decoration: none

              &::before
                content: ''
                font-smoothing: auto

              &.icon-sc::before
                content: 'SoundCloud'

              &.icon-twitter::before
                content: 'Twitter'

              &.icon-facebook::before
                content: 'Facebook'


        /* volume controls */
        div#player-volume-mute
          left: padding + (controlWidth * 5) + 12px
          position: absolute
          right: auto
          top: playerPadding

          display: block
          height: controlHeight
          width: controlWidth

          background-color: transparent
          background-position: ((controlWidth - 12px)/2) ((controlHeight - 14px)/2)
          background-repeat: no-repeat
          cursor: default
          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/volume-icon.png' 12px 14px

          @media (max-width: mobile * 3)
            top: playerPaddingMini

        div#player-volume-outer
          left: padding + (controlWidth * 6) + 12px
          position: absolute
          right: auto
          top: playerPadding + ((controlHeight - 8px)/2)

          display: block
          height: 8px
          width: 100px

          background-color: #4a4d49
          border: 0
          border-radius: 8px
          cursor: pointer
          line-height: normal

          @media (max-width: mobile * 3)
            top: playerPaddingMini + ((controlHeight - 8px)/2)

          div#player-volume-ctrl
            height: 8px

            background-color: fontColorLink
            border-radius: 8px

        /* song artist & title */
        div#player-nowplaying
          float: none
          left: mobile
          position: absolute
          right: mobile
          top: playerPadding

          height: 28px
          padding: 0 (8px + controlWidth)
          width: auto

          color: rgba(fontColorLightest,0.5)
          font-size: 13px
          font-weight: 400
          line-height: 28px
          overflow: ellipsis
          text-align: center

          @media (max-width: mobile * 3)
            left: padding
            right: padding

          a
            color: fontColorLightest

            &:hover
              color: fontColorLink
              text-decoration: none

          /* blog post */
          a.store.read-post
            position: absolute
            right: 0
            top: 0
            z-index: 60

            display: block
            height: controlHeight
            margin: 0
            width: controlWidth

            background-position: ((controlWidth - 12px)/2) ((controlHeight - 14px)/2)
            background-repeat: no-repeat
            font-size: 0
            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/blog-icon.png' 12px 14px

            &:hover
              image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/player/blog-icon-hover.png' 12px 14px


        /* time & position */
        div#player-timebar
          left: auto
          position: absolute
          right: padding
          top: playerPadding

          display: block
          height: auto
          width: mobile - (padding*2)

          background-color: transparent
          border: 0
          font-size: inherit
          line-height: normal

          @media (max-width: mobile * 3)
            left: mobile
            top: playerPaddingMini

            width: auto

          div#player-time-position, div#player-time-total
            position: absolute
            top: 0

            height: controlHeight
            width: 34px

            color: #cacfc4
            font-size: 12px
            font-weight: 400
            line-height: controlHeight
            text-align: center
            vertical-align: middle

          div#player-time-position
            left: 0

          div#player-time-total
            left: auto
            right: 0

          div#player-progress-outer
            left: 34px + 10px
            position: absolute
            right: 10px + 34px
            top: ((controlHeight - playerPadding)/2)

            height: 8px
            overflow: hidden
            width: auto

            background-color: #4a4d49
            border: 0
            border-radius: 8px
            line-height: normal

            div#player-progress-loading
              height: 8px

              background-color: fontColorLight
              border-radius: 8px

            div#player-progress-playing
              height: 8px

              background-color: fontColorLink
              border-radius: 8px

  /* change notice */
  div#flash-message
    left: 0
    position: absolute
    right: 0
    top: 0
    z-index: 100

    display: none

    background-color: fontColorLink
    color: #ffffff
    font-size: 12px
    font-weight: 600
    text-align: center
    line-height: 50px

  /* content */
  div#content-wrapper
    position: relative

    margin: 0
    min-height: 0
    overflow: visible
    padding-top: playerHeight
    width: 100%

    background-color: #ffffff

    @media (max-width: mobile * 3)
      padding-top: playerHeight + playerPadding + controlHeight

    &.scrolling
      padding-top: playerHeight + 8px + submenuHeight + 8px + 1px

      div#submenu-container
        left: 0
        position: fixed
        right: 0
        top: playerHeight
        z-index: 80

        background-color: #ffffff
        border-bottom: 1px solid #f0f2ed

        @media (max-width: mobile * 3)
          top: playerHeight + playerPadding + controlHeight

    /* filter (submenu) */
    div#submenu-container
      position: relative

      height: submenuHeight + (submenuPadding * 2)
      margin: 0 auto
      width: auto

      border: 0
      font-size: inherit
      line-height: normal

      ul#submenu
        position: relative

        box-sizing: border-box
        height: submenuHeight + (submenuPadding * 2)
        margin: 0 auto
        max-width: maxWidth
        padding: submenuPadding padding
        width: auto

        border: 0
        font-size: inherit
        line-height: normal

        > li
          float: left
          position: relative

          display: block

          vertical-align: middle

          &#submenu-filter
            position: absolute
            right: padding
            top: submenuPadding

            &:hover

              span#submenu-filter-title
                background-color: fontColorLink
                border-radius: 4px 4px 0 0
                color: #ffffff

              ul
                display: block

            &.submenu-genres

              span.submenu-filter-control span#submenu-filter-title
                text-transform: capitalize

              ul
                padding: 10px
                width: minWidth

                li
                  float: left

                  width: auto

                  a
                    border-radius: 3px

            a#shuffle-songs
              background: transparent

            span

              &.title
                float: left

                display: block
                height: submenuHeight

                color: fontColorLight
                font-size: 12px
                font-weight: 600
                line-height: submenuHeight
                text-align: right

              &#submenu-filter-title
                float: left

                box-sizing: border-box
                display: block
                margin: 0 0 0 6px
                height: submenuHeight
                padding: 0 13px

                background-color: transparent
                border: 1px solid fontColorLink
                border-radius: submenuHeight
                color: fontColorLink
                font-size: 12px
                font-weight: 600
                line-height: submenuHeight - 2px

            ul
              position: absolute
              right: 0
              top: submenuHeight

              display: none
              padding: 10px 0
              width: 180px

              background-color: fontColorLink
              border: 0
              border-radius: 6px 0 6px 6px

              li
                float: none

                margin: 0
                padding: 0

                font-size: inherit
                line-height: normal

                > a
                  float: none

                  display: block
                  height: controlHeight
                  padding: 0 padding
                  width: auto

                  background-color: transparent
                  border: 0
                  color: #f3f7f0
                  font-size: 13px
                  font-weight: 400
                  line-height: controlHeight
                  text-transform: none

                  span.checkmark
                    float: right

                    font-weight: 400
                    font-size: 13px

                  &:hover
                    background-color: #6da831
                    color: #ffffff
                    text-decoration: none

          > a
            position: relative

            box-sizing: border-box
            display: block
            height: submenuHeight
            padding: 0 13px

            background-color: transparent
            border: 1px solid transparent
            border-radius: submenuHeight
            color: fontColorLight
            font-size: 12px
            font-weight: 600
            line-height: submenuHeight - 2px
            opacity: 0.75
            text-align: center

            &:hover
              opacity: 1
              text-decoration: none

            &.selected
              border-color: fontColorLink
              color: fontColorLink
              opacity: 1

          /* playlists */
          &#nav-playlist-1

            > a
              color: #e17b3f

              &.selected
                border-color: #e17b3f
                color: #e17b3f

          &#nav-playlist-2

            > a
              color: #6f4094

              &.selected
                border-color: #6f4094
                color: #6f4094

          &#nav-playlist-3

            > a
              color: #cc3da8

              &.selected
                border-color: #cc3da8
                color: #cc3da8

    div#container
      position: static

      display: block
      margin: 0
      width: auto

      background-color: transparent

      /* removes padding from infinite pagination containers */
      &:nth-child(7), &:nth-child(9)

        div#content div#content-left
          padding: 0

          div#track-list div.section.section-track.first
            border-top: 1px solid #f0f2ed

      div#content
        position: static

        margin: 0
        padding: 0
        width: auto

        div#content-left
          float: none

          box-sizing: border-box
          margin: 0
          min-height: 0
          padding: 0
          width: auto

          background-color: transparent

          /* track list & loved tracks */
          div#track-list, div#loved-tracks

            /* empty search */
            div.no-search-results
              padding: 120px 0

              background-color: #ffffff
              text-align: center

              p
                left: auto
                position: relative
                top: auto

                color: fontColor
                font-size: 15px
                font-weight: 600

            div.section
              border: 0

              a:active
                top: auto

              &.artist
                border: 0

                h2
                  position: relative

                  margin: 0
                  height: 0
                  padding: 0
                  width: 0

                  border: 0
                  background: transparent
                  line-height: 0

                  div.rank
                    float: none
                    position: absolute
                    left: padding + (trackArtwork - trackRank)
                    top: trackPadding + (trackArtwork - trackRank) + 1px

                    display: block
                    height: trackRank
                    margin: 0
                    padding: 0
                    width: trackRank

                    background-color: fontColorLink
                    border-radius: 4px 0 4px 0
                    color: #ffffff
                    font-size: 12px
                    font-weight: 400
                    line-height: trackRank
                    text-align: center

                  a
                    font-size: 0

              &.section
                position: relative
                z-index: 50

                display: block
                overflow: visible
                padding: 0

                background-color: transparent
                border: 0

                &:hover
                  z-index: 60

                &.first
                  border-top: 1px solid #e1e6da

                &.odd
                  background-color: #fbfcfa

                &.haarp-active
                  background-color: #f0f5eb

                  div.section-player ul.playpause li a
                    display: block

                &.same
                  min-height: 0

                  div.section-player ul.playpause
                    background-color: fontColorLink
                    border-radius: trackRadius

                div.section-player
                  box-sizing: border-box
                  margin: 0 auto
                  max-width: maxWidth
                  min-height: trackArtwork + (trackPadding * 2)
                  padding: trackPadding (94px + padding) trackPadding (padding + trackArtwork + 12px)
                  width: auto

                  &:hover

                    ul.playpause li a
                      display: block

                    h3.track_name
                      opacity: 1

                    div.controls
                      opacity: 1

                  ul.playpause
                    left: padding
                    position: absolute
                    top: 50%
                    z-index: 50

                    height: trackArtwork
                    margin-top: (-(trackArtwork/2))
                    width: trackArtwork

                    li a
                      display: none
                      height: trackArtwork
                      width: trackArtwork

                      font-size: normal

                      background-color: rgba(#30332e,0.5)
                      background-position: ((trackArtwork - 14px)/2 + 1px) ((trackArtwork - 16px)/2 + 1px)
                      background-repeat: no-repeat
                      border-radius: trackRadius
                      image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/play-icon.png' 14px 16px

                      &:hover
                        background-color: rgba(#30332e,0.75)
                        image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/play-icon-hover.png' 14px 16px

                      &.pause
                        background-position: ((trackArtwork - 12px)/2) ((trackArtwork - 16px)/2 + 1px)
                        image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/pause-icon.png' 12px 16px

                        &:hover
                          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/pause-icon-hover.png' 12px 16px

                  a.thumb
                    left: padding
                    position: absolute
                    top: 50%
                    z-index: 30

                    display: block
                    height: trackArtwork
                    margin-top: (-(trackArtwork/2))
                    width: trackArtwork

                    background-color: fontColorLink !important
                    background-position: 0 0 !important
                    background-repeat: no-repeat !important
                    background-size: trackArtwork trackArtwork !important
                    border: 0
                    border-radius: trackRadius
                    box-shadow: inset 0 0 0 1px rgba(#000000,0.1)

                  /* track info */
                  div.track-info
                    display: none
                    margin: -2px 0 0
                    padding: 0

                    color: fontColorLighter
                    font-size: 10px
                    font-weight: 400
                    line-height: 13px
                    vertical-align: middle
                    text-transform: none

                    // &.track-info-yes
                    //   display: block

                  /* artist & title */
                  h3.track_name
                    position: static

                    margin: 0
                    padding: 0

                    color: fontColorLight
                    font-size: 14px
                    line-height: trackArtwork
                    opacity: 0.75
                    overflow: ellipsis

                    span.rank
                      left: auto
                      position: static
                      top: auto

                      box-sizing: border-box
                      display: inline-block
                      height: trackArtwork
                      margin: 0 10px 0 0
                      padding: 0
                      width: trackArtwork

                      background-color: transparent
                      border: 1px solid rgba(fontColorLight,0.5)
                      border-radius: trackRadius
                      color: fontColorLight
                      font-size: 13px
                      font-weight: 400
                      line-height: trackArtwork - 2px
                      text-align: center

                    a
                      line-height: normal
                      margin: 0

                      &:hover
                        text-decoration: none

                      &.artist
                        color: fontColorLight
                        font-size: 14px
                        font-weight: 600

                      &.track
                        color: fontColorDark
                        font-size: 14px
                        font-weight: 600

                        &:hover
                          text-decoration: none

                        span

                          &:hover
                            text-decoration: none

                          &.base-title
                            text-decoration: none

                          &.remix-link
                            color: fontColorLink

                  /* controls */
                  div.controls
                    position: absolute
                    right: padding
                    top: 50%
                    z-index: 50

                    margin-top: (-(controlHeight/2))

                    opacity: 0.75

                    &:hover
                      z-index: 90

                    /* options */
                    div.options
                      float: right
                      position: relative

                      height: controlHeight
                      width: controlWidth

                      background-position: ((controlWidth - 16px)/2) ((controlHeight - 16px)/2)
                      background-repeat: no-repeat
                      border-radius: 3px 3px 0 0
                      content: ''
                      image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/options-icon.png' 16px 16px

                      &:hover
                        background-color: fontColorLink
                        image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/options-icon-hover.png' 16px 16px

                        div.options-dropdown
                          display: block

                      div.options-dropdown
                        position: absolute
                        right: 0
                        top: controlHeight

                        display: none
                        padding: 10px 0
                        width: 180px

                        background-color: fontColorLink
                        border-radius: 6px 0 6px 6px

                        /* playlists */
                        ul.playlistcontrols li.playlist-ctrls
                          display: block

                          &::before
                            display: block
                            padding: 0 padding 3px

                            color: rgba(#f3f7f0,0.8)
                            content: 'Add to playlist...'
                            font-size: 12px
                            font-weight: 400
                            line-height: 17px

                          a
                            display: block
                            height: controlHeight
                            margin: 0
                            padding: 0 padding
                            width: auto

                            &.active

                              &::after
                                float: right

                                display: block
                                height: controlHeight

                                color: #f3f7f0
                                content: '✓'
                                font-size: 13px
                                font-smoothing: auto
                                font-weight: 400
                                line-height: controlHeight
                                text-align: right

                              &:hover::after
                                color: #ffffff

                            &.playlist-selected
                              display: none

                            &::before
                              color: #f3f7f0
                              content: attr(title)
                              font-size: 13px
                              font-smoothing: auto
                              font-weight: 400
                              line-height: controlHeight

                            &:hover
                              background-color: #6da831
                              opacity: 1
                              text-decoration: none

                              &::before
                                color: #ffffff


                        /* download */
                        div.meta
                          position: relative

                          display: block
                          margin: 0
                          padding: 10px 0

                          &::before
                            display: block
                            padding: 0 padding 3px

                            color: rgba(#f3f7f0,0.8)
                            content: 'Download from...'
                            font-size: 12px
                            font-weight: 400
                            line-height: 17px

                          span.buy
                            display: block

                            font-size: 0

                            span.download
                              left: auto
                              position: static
                              right: auto
                              top: auto

                              > a
                                display: block
                                height: controlHeight
                                padding: 0 padding
                                width: auto

                                color: #f3f7f0
                                font-size: 13px
                                font-weight: 400
                                line-height: controlHeight

                                &:hover
                                  background-color: #6da831
                                  color: #ffffff
                                  text-decoration: none

                        /* sharing */
                        span.share-links
                          position: static
                          right: auto
                          top: auto

                          width: auto

                          &::before
                            display: block
                            padding: 0 padding 3px

                            color: rgba(#f3f7f0,0.8)
                            content: 'Share to...'
                            font-size: 12px
                            font-weight: 400
                            line-height: 17px

                          a
                            display: block
                            height: controlHeight
                            margin: 0
                            padding: 0 padding
                            width: auto

                            &::before
                              color: #f3f7f0
                              content: 'Twitter'
                              font-size: 13px
                              font-smoothing: auto
                              font-weight: 400
                              line-height: controlHeight

                            &.facebook-share::before
                              content: 'Facebook'

                            &:hover
                              background-color: #6da831
                              opacity: 1
                              text-decoration: none

                              &::before
                                color: #ffffff

                    /* favorite */
                    ul.tools
                      float: right
                      position: relative
                      right: auto
                      top: 0

                      width: 66px

                      li.favdiv
                        float: right
                        position: relative

                        &:hover a

                          &.haarp-fav-ctrl
                            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/favorite-icon-hover.png' 16px 14px

                          &.haarp-fav-count
                            color: fontColorDark

                        a.haarp-fav-ctrl
                          position: relative

                          display: block
                          height: controlHeight
                          padding: 0
                          width: controlWidth

                          background-position: ((controlWidth - 16px)/2) ((controlHeight - 14px)/2)
                          background-repeat: no-repeat
                          image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/favorite-icon.png' 16px 14px
                          font-size: inherit
                          line-height: normal

                          &:hover
                            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/favorite-icon-hover.png' 16px 14px

                          &.fav-on, &.fav-on:hover
                            image: 'chrome-extension://__MSG_@@extension_id__/assets/imgs/track/favorite-icon-on.png' 16px 14px

                        a.haarp-fav-count
                          margin: 0
                          padding: 0 1px 0 0
                          width: auto

                          background: transparent
                          color: #76806c
                          font-size: 14px
                          font-weight: 600
                          line-height: controlHeight
                          text-align: right
                          vertical-align: middle

                          &:hover
                            color: fontColorDark
                            text-decoration: none

                          &.favcount-on
                            color: fontColorFavorite

                  /* twitter */
                  div.tweet-info
                    overflow: hidden

                    margin: 8px 0 0
                    padding: 10px 0 4px

                    border-top: 1px solid #f8faf5

                    &::before
                      display: block
                      padding-bottom: 6px

                      content: 'Tweets'
                      color: fontColorLight
                      font-size: 12px
                      font-weight: 600

                    div.act_info_tweets

                      p
                        margin: 0

                        color: fontColorLight
                        font-size: 12px
                        font-weight: 400
                        line-height: 20px

                        a.twitter_user
                          margin-right: 6px

                      div.twitter_contributors
                        margin: 0

                        font-size: inherit
                        line-height: normal

                        a

                          &.twitter_user
                            float: left
                            position: relative

                            display: block
                            height: 20px
                            margin-right: 2px
                            width: 20px

                            border: 0

                            img
                              height: 20px
                              width: 20px

                              border-radius: 3px

                          &.tweets_extra_toggle
                            height: 20px
                            margin: 0 0 0 6px
                            width: auto

                            border: 0
                            font-size: 13px
                            font-weight: 600
                            line-height: 20px

                      ul.tweets_extra
                        position: relative

                        clear: both
                        display: block
                        margin: 0
                        max-height: 200px
                        padding: 0

                        background-color: #f8faf5
                        border: 1px solid #f0f2ed
                        border-radius: 5px

                        li
                          position: relative

                          clear: both
                          display: block
                          padding: 6px 10px

                          border-bottom: 1px solid #f0f2ed
                          color: fontColorLight
                          font-size: 12px
                          line-height: 20px

                          a

                            &.twitter_user
                              float: left
                              position: relative

                              display: inline-block
                              height: 20px
                              margin: 0 10px 0 0
                              width: auto

                              border: 0
                              font-size: 12px
                              font-weight: 600
                              line-height: 20px

                              img
                                display: inline-block
                                height: 20px !important
                                width: 20px !important

                                border-radius: 3px

                          span.tweet_points_total
                            top: 6px
                            position: absolute
                            right: 10px

                            color: fontColorLight
                            font-size: 12px
                            font-weight: 400
                            line-height: 20px

            h2
              display: block
              height: 42px
              margin: 0
              padding: 0 padding
              width: auto

              background-color: #f8faf5
              border-top: 1px solid #f0f2ed
              color: fontColorDark
              font-size: 14px
              font-weight: 600
              line-height: 42px

              span.remix-icon
                display: none

          /* loved tracks only */
          div#loved-tracks

            div.section div.section.first
              border: 0

          /* pagination */
          div.paginator, div#end-of-infinity
            margin: 0
            overflow: hidden
            padding: 0

            border: 0
            border-top: 1px solid #f0f2ed
            text-align: center

            div.paginator-inner
              box-sizing: border-box
              margin: 0 auto
              max-width: maxWidth
              padding: 0 padding

              a#infinite-tracks-button
                display: block
                margin: 8px 0
                padding: 0
                width: auto

                background-color: fontColorLink
                border: 0
                border-radius: 5px
                color: fontColorLink
                font-size: 0
                line-height: normal
                opacity: 0.9
                text-align: center
                vertical-align: middle

                &::before
                  display: block
                  height: 38px

                  color: #ffffff
                  content: 'Load more...'
                  font-size: 14px
                  font-weight: 600
                  line-height: 38px

                &:hover
                  opacity: 1
                  text-decoration: none

          /* end of infinity */
          div#end-of-infinity
            display: block
            margin: 0
            padding: 14px padding

            background-color: transparent
            border: 0
            border-top: 1px solid #f0f2ed
            font-size: 14px
            font-weight: 600
            text-align: center











